<!doctype html>
<html ng-app="BlankApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sidebar</title>
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
</head>
<body ng-controller="AppCtrl" layout="row" ng-cloak>
    <!--<div flex layout="column">-->
        <div layout="row" flex ng-controller="SidenavCtrl">
            <md-sidenav
                    class="md-sidenav-left"
                    md-component-id="mySidenav"
                    md-is-locked-open="$mdMedia('gt-md')"
                    md-whiteframe="4">

                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools">Sidenav Left</h1>
                </md-toolbar>
                <md-content layout-padding ng-controller="LeftCtrl">
                    <md-button ng-click="close()" class="md-primary" hide-gt-md>
                        Close Sidenav Left
                    </md-button>
                    <p hide show-gt-md>
                        This sidenav is locked open on your device. To go back to the default behavior,
                        narrow your display.
                    </p>
                </md-content>

            </md-sidenav>
            <div flex layout="column">

                <div ng-controller="SubheaderAppCtrl"
                     layout="column"
                     flex
                     layout-fill>

                    <md-toolbar md-scroll-shrink>
                        <div class="md-toolbar-tools">
                            <md-button ng-if="!isSidenavOpen()"
                                       class="md-icon-button"
                                       aria-label="Settings"
                                       ng-click="openSidenav()">
                                <md-icon md-svg-icon="/img/icons/menu.svg"></md-icon>
                            </md-button>
                            <h3><span>My Messages</span></h3>
                            <span flex></span>
                            <md-button class="md-icon-button" aria-label="Favorite">
                                <md-icon md-svg-icon="/img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
                            </md-button>
                            <md-menu md-position-mode="target-right target" ng-controller="MenuCtrl">
                                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                    <md-icon md-menu-origin md-svg-icon="call:portable-wifi-off"></md-icon>
                                </md-button>
                                <md-menu-content width="4" >
                                    <md-menu-item ng-repeat="item in [1, 2, 3]">
                                        <md-button ng-click="announceClick($index)">
                                            <div layout="row" flex>
                                                <p flex>Option {{item}}</p>
                                                <!--call:portable-wifi-off-->
                                                <md-icon md-menu-align-target md-svg-icon="/img/icons/favorite.svg" style="margin: auto 3px auto 0;"></md-icon>
                                            </div>
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </md-toolbar>

                    <md-content md-scroll-y layout="column" flex md-theme="altTheme">
                        <div style="background: red; color: white;">
                            This feature is bugged!!!
                        </div>
                        <div ng-controller="NavbarCtrl" ng-cloak>
                            <!--<md-content class="md-padding">-->
                                <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
                                    <md-nav-item md-nav-click="goto('page1')" name="page1">Page One</md-nav-item>
                                    <md-nav-item md-nav-click="goto('page2')" name="page2">Page Two</md-nav-item>
                                    <md-nav-item md-nav-click="goto('page3')" name="page3">Page Three</md-nav-item>
                                    <md-nav-item md-nav-click="goto('page4')" name="page4">Page Forth</md-nav-item>
                                    <md-nav-item md-nav-click="goto('page5')" name="page5">Page Fifth</md-nav-item>
                                    <!-- these require actual routing with ui-router or ng-route, so they won't work in the demo
                                    <md-nav-item md-nav-sref="app.page4" name="page4">Page Four</md-nav-item>
                                    <md-nav-item md-nav-href="#page5" name="page5">Page Five</md-nav-item>
                                    -->
                                </md-nav-bar>
                                <div class="ext-content">
                                    External content for `<span>{{currentNavItem}}</span>`
                                </div>
                            <!--</md-content>-->
                        </div>
                        <section>
                            <md-subheader class="md-primary">Unread Messages</md-subheader>
                            <md-list layout-padding>
                                <md-list-item class="md-3-line" ng-repeat="message in messages">
                                    <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
                                    <div class="md-list-item-text">
                                        <h3>{{message.what}}</h3>
                                        <h4>{{message.who}}</h4>
                                        <p>
                                            {{message.notes}}
                                        </p>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </section>

                        <section>
                            <md-subheader class="md-warn">Late Messages</md-subheader>
                            <md-list layout="column" layout-padding>
                                <md-list-item class="md-3-line" ng-repeat="message in messages">
                                    <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
                                    <div class="md-list-item-text">
                                        <h3>{{message.what}}</h3>
                                        <h4>{{message.who}}</h4>
                                        <p>
                                            {{message.notes}}
                                        </p>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </section>

                        <section>
                            <md-subheader>Read Messages</md-subheader>
                            <md-list layout="column" layout-padding>
                                <md-list-item class="md-3-line" ng-repeat="message in messages">
                                    <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
                                    <div class="md-list-item-text">
                                        <h3>{{message.what}}</h3>
                                        <h4>{{message.who}}</h4>
                                        <p>
                                            {{message.notes}}
                                        </p>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </section>

                        <section>
                            <md-subheader class="md-accent">Archived messages</md-subheader>
                            <md-list layout="column" layout-padding>
                                <md-list-item class="md-3-line" ng-repeat="message in messages">
                                    <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
                                    <div class="md-list-item-text">
                                        <h3>{{message.what}}</h3>
                                        <h4>{{message.who}}</h4>
                                        <p>
                                            {{message.notes}}
                                        </p>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </section>


                        <div flex layout="column" ng-controller="FormCtrl">
                            <md-input-container class="md-icon-float md-block">
                                <!-- Use floating label instead of placeholder -->
                                <label>Name</label>
                                <md-icon md-svg-src="/img/icons/ic_person_24px.svg" class="name"></md-icon>
                                <input ng-model="user.name" type="text">
                            </md-input-container>

                            <md-input-container md-no-float class="md-block">
                                <md-icon md-svg-src="/img/icons/ic_phone_24px.svg"></md-icon>
                                <input ng-model="user.phone" type="text" placeholder="Phone Number">
                            </md-input-container>

                            <md-input-container class="md-block">
                                <!-- Use floating placeholder instead of label -->
                                <md-icon md-svg-src="/img/icons/ic_email_24px.svg" class="email"></md-icon>
                                <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
                            </md-input-container>

                            <md-input-container md-no-float class="md-block">
                                <input ng-model="user.address" type="text" placeholder="Address" >
                                <md-icon md-svg-src="/img/icons/ic_place_24px.svg" style="display:inline-block;"></md-icon>
                            </md-input-container>

                            <md-input-container class="md-icon-float md-icon-right md-block">
                                <label>Donation Amount</label>
                                <md-icon md-svg-src="/img/icons/ic_card_giftcard_24px.svg"></md-icon>
                                <input ng-model="user.donation" type="number" step="0.01">
                                <md-icon md-svg-src="/img/icons/ic_euro_24px.svg"></md-icon>
                            </md-input-container>
                        </div>

                    </md-content>
                </div>
            </div>
        <!--</div>-->
    </div>


<!-- Angular Material requires Angular.js Libraries -->
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/angular-animate/angular-animate.min.js"></script>
<script src="/bower_components/angular-aria/angular-aria.min.js"></script>
<script src="/bower_components/angular-messages/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="/bower_components/angular-material/angular-material.min.js"></script>
<script>
    angular.module('BlankApp', ['ngMaterial'])
        .config(function ($mdThemingProvider) {
            $mdThemingProvider.theme('altTheme')
                .primaryPalette('purple');
        })
        .controller('AppCtrl', function ($scope, $timeout, $mdSidenav, $log) {
            $scope.toggleLeft = buildDelayedToggler('left');
            $scope.toggleRight = buildToggler('right');
            $scope.isOpenRight = function () {
                return $mdSidenav('right').isOpen();
            };

            /**
             * Supplies a function that will continue to operate until the
             * time is up.
             */
            function debounce(func, wait, context) {
                var timer;

                return function debounced() {
                    var context = $scope,
                        args = Array.prototype.slice.call(arguments);
                    $timeout.cancel(timer);
                    timer = $timeout(function () {
                        timer = undefined;
                        func.apply(context, args);
                    }, wait || 10);
                };
            }

            /**
             * Build handler to open/close a SideNav; when animation finishes
             * report completion in console
             */
            function buildDelayedToggler(navID) {
                return debounce(function () {
                    // Component lookup should always be available since we are not using `ng-if`
                    $mdSidenav(navID)
                        .toggle()
                        .then(function () {
                            $log.debug("toggle " + navID + " is done");
                        });
                }, 200);
            }

            function buildToggler(navID) {
                return function () {
                    // Component lookup should always be available since we are not using `ng-if`
                    $mdSidenav(navID)
                        .toggle()
                        .then(function () {
                            $log.debug("toggle " + navID + " is done");
                        });
                }
            }
        })
        .controller('LeftCtrl', function ($scope, $timeout, $mdSidenav, $log) {
            $scope.close = function () {
                // Component lookup should always be available since we are not using `ng-if`
                $mdSidenav('left').close()
                    .then(function () {
                        $log.debug("close LEFT is done");
                    });

            };
        })
        .controller('RightCtrl', function ($scope, $timeout, $mdSidenav, $log) {
            $scope.close = function () {
                // Component lookup should always be available since we are not using `ng-if`
                $mdSidenav('right').close()
                    .then(function () {
                        $log.debug("close RIGHT is done");
                    });
            };
        })
        .controller('SidenavCtrl', function($scope, $mdSidenav){
            $scope.openSidenav = function(){
                $mdSidenav('mySidenav').open();
            }
            $scope.isSidenavOpen = function(){
                return $mdSidenav('mySidenav').isOpen();
            }
        })
        .controller('SubheaderAppCtrl', function ($scope) {
            var imagePath = '/img/list/60.jpeg';
            $scope.messages = [
                {
                    face: imagePath,
                    what: 'Brunch this weekend?',
                    who: 'Min Li Chan',
                    when: '3:08PM',
                    notes: " I'll be in your neighborhood doing errands"
                },
                {
                    face: imagePath,
                    what: 'Brunch this weekend?',
                    who: 'Min Li Chan',
                    when: '3:08PM',
                    notes: " I'll be in your neighborhood doing errands"
                },
                {
                    face: imagePath,
                    what: 'Brunch this weekend?',
                    who: 'Min Li Chan',
                    when: '3:08PM',
                    notes: " I'll be in your neighborhood doing errands"
                },
                {
                    face: imagePath,
                    what: 'Brunch this weekend?',
                    who: 'Min Li Chan',
                    when: '3:08PM',
                    notes: " I'll be in your neighborhood doing errands"
                },
                {
                    face: imagePath,
                    what: 'Brunch this weekend?',
                    who: 'Min Li Chan',
                    when: '3:08PM',
                    notes: " I'll be in your neighborhood doing errands"
                },
                {
                    face: imagePath,
                    what: 'Brunch this weekend?',
                    who: 'Min Li Chan',
                    when: '3:08PM',
                    notes: " I'll be in your neighborhood doing errands"
                },
                {
                    face: imagePath,
                    what: 'Brunch this weekend?',
                    who: 'Min Li Chan',
                    when: '3:08PM',
                    notes: " I'll be in your neighborhood doing errands"
                },
                {
                    face: imagePath,
                    what: 'Brunch this weekend?',
                    who: 'Min Li Chan',
                    when: '3:08PM',
                    notes: " I'll be in your neighborhood doing errands"
                },
                {
                    face: imagePath,
                    what: 'Brunch this weekend?',
                    who: 'Min Li Chan',
                    when: '3:08PM',
                    notes: " I'll be in your neighborhood doing errands"
                },
                {
                    face: imagePath,
                    what: 'Brunch this weekend?',
                    who: 'Min Li Chan',
                    when: '3:08PM',
                    notes: " I'll be in your neighborhood doing errands"
                },
                {
                    face: imagePath,
                    what: 'Brunch this weekend?',
                    who: 'Min Li Chan',
                    when: '3:08PM',
                    notes: " I'll be in your neighborhood doing errands"
                },
            ];
        })
        .controller('MenuCtrl', function($scope){
            var originatorEv;

            $scope.menuHref = "http://www.google.com/design/spec/components/menus.html#menus-specs";

            $scope.openMenu = function($mdOpenMenu, ev) {
                originatorEv = ev;
                $mdOpenMenu(ev);
            };

            $scope.announceClick = function(index) {
                $mdDialog.show(
                    $mdDialog.alert()
                        .title('You clicked!')
                        .textContent('You clicked the menu item at index ' + index)
                        .ok('Nice')
                        .targetEvent(originatorEv)
                );
                originatorEv = null;
            };
        })
        .controller('FormCtrl', function ($scope) {
            $scope.user = {
                name: 'John Doe',
                email: '',
                phone: '',
                address: 'Mountain View, CA',
                donation: 19.99
            };
        })
        .controller('NavbarCtrl',function($scope){
            $scope.currentNavItem = 'page1';
        })
</script>
</body>
</html>